<div class="dialog">
    <div class="dialog-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">ADDRESS:</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close.emit()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><span class="bold">Country:</span> {{ address?.country }}</p>
            <p><span class="bold">City:</span> {{ address?.city }}</p>
            <p><span class="bold">Street:</span> {{ address?.street }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="close.emit()">Close</button>
        </div>
    </div>
</div>
